<%= form_with model: @post do |form| %>
  <%= form.text_field :user_id, value: current_user.id, hidden: true %>
  <div>
    <%= form.text_area :post_content, size: "60x10" %>
  </div>
  <div>
    <%= form.submit%>
  </div>
<% end %>